<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
		integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
		integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
	<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
	<title>Registro - Leads Retriever</title>
	<!-- Delete Confirm modal -->
	<link href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<style type="text/css">
		.checkbox-label{
			margin-left: 20px;
		}
		select {
			padding: 0px!important;
		}
		body {
			font-family: 'Varela Round', sans-serif;
		}

		.modal-confirm {
			color: #636363;
			width: 325px;
		}

		.modal-confirm .modal-content {
			padding: 20px;
			border-radius: 5px;
			border: none;
		}

		.modal-confirm .modal-header {
			border-bottom: none;
			position: relative;
		}

		.modal-confirm h4 {
			text-align: center;
			font-size: 26px;
			margin: 30px 0 -15px;
		}

		.modal-confirm .form-control,
		.modal-confirm .btn {
			min-height: 40px;
			border-radius: 3px;
		}

		.modal-confirm .close {
			position: absolute;
			top: -5px;
			right: -5px;
		}

		.modal-confirm .modal-footer {
			border: none;
			text-align: center;
			border-radius: 5px;
			font-size: 13px;
		}

		.modal-confirm .icon-box {
			color: #fff;
			position: absolute;
			margin: 0 auto;
			left: 0;
			right: 0;
			top: -70px;
			width: 95px;
			height: 95px;
			border-radius: 50%;
			z-index: 9;
			background: #82ce34;
			padding: 15px;
			text-align: center;
			box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
		}

		.modal-confirm .icon-box i {
			font-size: 58px;
			position: relative;
			top: 3px;
		}

		.modal-confirm.modal-dialog {
			margin-top: 80px;
		}

		.modal-confirm .btn {
			color: #fff;
			border-radius: 4px;
			background: #82ce34;
			text-decoration: none;
			transition: all 0.4s;
			line-height: normal;
			border: none;
		}

		.modal-confirm .btn:hover,
		.modal-confirm .btn:focus {
			background: #6fb32b;
			outline: none;
		}

		.trigger-btn {
			display: inline-block;
			margin: 100px auto;
		}
	</style>

</head>

<body>
	<!-- Navbar -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
		<div class="container">
			<a class="navbar-brand" href="{% url 'home' %}">
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<ul class="navbar-nav">
					<li class="nav-item active mr-3">
						<a class="nav-link" href="platform.html">
							<i class="fas fa-plus-circle"></i>
							REGISTRAR</a>
					</li>
						<li class="nav-item mr-3">
							<a class="nav-link" href="tabla.php">
								<i class="fas fa-clipboard-list"></i>
								DRIVERS</a>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container">
		<div class="row justify-content-center">
			<div class="form-group col-md-4 text-center">
				<div class="card shadow mb-4">
					<div class="card-body">

						<img src="logo.png" height="200" width="200">
						<br>
				<button class="btn btn-primary" onclick="myFacebookLogin()">LOGIN CON FACEBOOK</button>
				<br>
				<br>
				<select class="form-control" id='selectpages'></select>
				<br>
				<select class="form-control" id='selectforms'></select>
				<br>
				<div class="form-group text-left">
					<label for="nombreZap">Nombre</label>
					<input type="text" class="form-control" id="nombreZap">
				</div>
				<p></p>
				<div class="form-group text-left">
					<label for="tSource">TSource</label>
					<input type="text" class="form-control" id="tSource">
				</div>
				<p></p>
				<div class="form-check text-left">
					<input type="checkbox" class="form-check-input" id="activeCheck" value="activar" checked>
					
					<label class="form-check-label checkbox-label" for="activeCheck">Activar</label>
				</div>
				<br>
				<button class="btn btn-danger" onclick="registrarZap()">CREAR
					DRIVER</button>

				</div>
			</div>
			</div>
		</div>
	</div>

	<!-- Success Modal HTML -->
	<div id="successModal" class="modal fade">
		<div class="modal-dialog modal-confirm">
			<div class="modal-content">
				<div class="modal-header">
					<div class="icon-box">
						<i class="material-icons">&#xE876;</i>
					</div>
					<h4 class="modal-title">¡Genial!</h4>
				</div>
				<div class="modal-body">
					<p class="text-center">Acabas de crear un Zap.</p>
				</div>
				<div class="modal-footer">
					<button class="btn btn-success btn-block" data-dismiss="modal">OK</button>
				</div>
			</div>
		</div>
	</div>

	<script src="js/platform.js"></script>
</body>

</html>